admin:
  emails:
    url: http://auth-service:8080/notification
spring:
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: guest
    password: guest
  mail:
    host: YOUR_EMAIL_HOST
    port: 587
    username: YOUR_EMAIL_USERNAME
    password: YOUR_EMAIL_APP_PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8081

rabbitmq:
  queue: notification.queue
  exchange: notification.exchange
  routing-key: notification.routing-key